<div id="<%= dom_id appointment_status %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= appointment_status.name %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this appointment status", appointment_status, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this appointment status', edit_appointment_status_path(appointment_status), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
