<div class="form-control w-full max-w-xs">
  <p class="my-5">
    <strong class="block font-medium mb-1">Discussion:</strong>
    <%= submission.discussion %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Communication:</strong>
    <%= submission.communication %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Legal:</strong>
    <%= submission.legal %>
  </p>

</div>
