
    <div class="form-control w-full max-w-xs">

    <p class="my-5">
        <strong class="block font-medium mb-1">Title:</strong>
        <%= submission.title %>
    </p>

    <p class="my-5">
        <strong class="block font-medium mb-1">Purpose:</strong>
        <%= submission.purpose %>
    </p>

    <p class="my-5">
        <strong class="block font-medium mb-1">Background:</strong>
        <%= submission.background %>
    </p>
    </div>
 
