<div class="mx-auto md:w-2/3 w-full">

<%= link_to sanitize("&larr; Back to submission"), submission_path(@submission) %>

  <h1 class="font-bold text-4xl">Editing submission</h1>
  
  <%= turbo_frame_tag "submission_#{@submission.id}" do %>
    <%= render "form", submission: @submission %>
  <% end %>
</div>
